<div class="panel panel-primary" ng-repeat="day in vm.weekView.days">
  <div class="panel-heading">
    <h3 class="panel-title">{{day.dayOfWeek}} - {{day.date | date}}</h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Time</th>
        <th>Notes</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Fasting</td>
        <td>
          <span ng-hide="day.fasting.edit" >{{day.fasting.value}}</span>
          <input class="form-control input-sm" ng-show="day.fasting.edit" type="text" ng-model="day.fasting.value"></input> 
        </td>
        <td>
          <span ng-hide="day.fasting.edit">{{day.fasting.readingTime | date:"shortTime"}}</span> 
          <input class="form-control input-sm" ng-show="day.fasting.edit" type="text" ng-model="day.fasting.readingTime"></input> 
        </td>
        <td>
          <span ng-hide="day.fasting.edit">{{day.fasting.notes}}</span>
          <input class="form-control input-sm" ng-show="day.fasting.edit" type="text" ng-model="day.fasting.notes"/>
        </td>
        <td>
          <button ng-hide="day.fasting || day.fasting.edit" ng-click="day.fasting.edit = true;" class="btn btn-xs">Add</button>
          <button ng-show="day.fasting.edit" class="btn btn-xs" ng-click="vm.save(day, 'fasting')">Save</button>
        </td>
      </tr>
      <tr>
        <td>Breakfast</td>
        <td>{{day.breakfast.value}}</td>
        <td>{{day.breakfast.readingTime | date:"shortTime"}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Lunch</td>
        <td>{{day.lunch.value}}</td>
        <td>{{day.lunch.readingTime | date : "shortTime"}} </td>
        <td></td>
        <td></td>
      </tr>
        <tr>
          <td>Dinner</td>
          <td>{{day.dinner.value}}</td>
          <td>{{day.dinner.readingTime | date : "shortTime"}} </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>